typing
langchain-openrouter
langgraph
fastapi
uvicorn
langchain-groq
langchain-community
langchain-ollama
dotenv
langchain-openai
langchain_core
wikipedia
langchain-tavily
python-jose[cryptogaphy]
passlib[bcrypt]
python-multipart
sqlalchemy
alembic
psycopg[binary]
pydantic
qdrant-client
langchain-qdrant
langchain-google-genai
langchain-openai
openai
langsmith