langchain-openrouter
langgraph
fastapi
uvicorn
langchain-groq
python-dotenv
langchain_core
langchain-tavily
python-jose[cryptography]
bcrypt
python-multipart
sqlalchemy
alembic
psycopg[binary]
pydantic
qdrant-client
langchain-qdrant
